.container{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(85, 85, 85);
  color: white;
  align-items: center;
  justify-content: center;

}




#colNombre{
  display:block ;
  align-items: center;
  justify-content: center;
}

#FOTO{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 5px 5px 15px black;
  opacity: 80%;
}



#FOTO:hover{
  opacity: 100%;
}



#nombre{
  display: flex;
  font-size: x-large;
  font-weight: bolder;
  align-content: center;
  align-items: center;
  justify-content: center;
}
#cargo{
  display: flex;
  font-style: italic;
  font-size:larger;
  align-content: center;
  align-items: center;
  justify-content: center;
}


/*
@media (min-width: 768px){
  #FOTO{
    width: 35%;
    border-radius: 30%;
    box-shadow: 3px;
    position:absolute;
    opacity: 80%;
    left: 2%;
    top: 475px;
  }
}



@media (min-width: 576px){
  #FOTO{
    width: 30%;
    border-radius: 30%;
    box-shadow: 3px;
    position:absolute;
    opacity: 80%;
    left: 2%;
    top: 475px;
  }
}

@media (max-width: 575px){
  #FOTO{
    width: 25%;
    border-radius: 30%;
    box-shadow: 3px;
    border-color: blue;
    position:absolute;
    opacity: 80%;
    left: 70%;
    top: 500px;
  }
}
*/
