.container{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(85, 85, 85);
  color: white;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 3px rgb(138, 133, 133);
}




#colNombre{
  display:block ;
  align-items: center;
  justify-content: center;
}

#FOTO{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 5px 5px 15px black;
  opacity: 80%;
}



#FOTO:hover{
  opacity: 100%;
}



#nombre{
  display: flex;

  font-weight: bolder;
  align-content: center;
  align-items: center;
  justify-content: center;
}
#cargo{
  display: flex;
  font-style: italic;
  
  align-content: center;
  align-items: center;
  justify-content: center;
}


#acercaDe{
  padding-left: 5px;
  padding-right: 10px;
  display: flex;
  font-style: italic;

  align-content: center;
  align-items: center;
  justify-content: center;
}

h3{
padding-left: 5px;
}
