<div class="container fontArchivo">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
      <img src="../../../assets/FotoPerfil.jpg" width="200px" height="auto" class="img-fluid mx-auto d-block" id="FOTO" />
    </div>

    <div class="col-12 col-sm-12 col-md-3 col-lg-3 align-self-center" id="colNombre">
      <p id="nombre">Rodolfo Ruiz Huidobro</p>
      <p id="cargo">Full Stack Developer Jr.</p>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 align-self-center" id="aboutMe">
      <span>
        <h3>Sobre mí</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum vero
          quod architecto voluptatem. Nostrum dolores modi vero voluptatum vel
          nam, consectetur dicta praesentium illo sed fugit optio perferendis
          illum aliquam?
        </p>
      </span>
    </div>
  </div>
</div>
