.col{
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
}

.header-text::after{
  content:"";
  animation: spin 15s alternate ;

}

@keyframes spin{
  0% {content:"Mi portfolio"; font-size: 130%}
  40% {content:"Rodolfo Ruiz Huidobro"; font-size: 150%}
  80% {content:"Full Stack Dev. jr."; font-size: 100%}
  100% {content:"Argentina Programa 2022"; font-size: 100%}
}
