<div class="container fontArchivo">
  <div class="row">
    <div class="box col-md-3">
      <img
        src="../../../assets/Logos/HTML.png"
        width="100px"
        height="auto"
        class="img-fluid mx-auto d-block"
      />
      <span class="num">90</span>
      <span class="num">%</span>
    </div>

    <div class="box col-md-3">
      <img
        src="../../../assets/Logos/Javascript.png"
        width="100px"
        height="auto"
        class="img-fluid mx-auto d-block"
      />
      <span class="num">70</span>
      <span class="num">%</span>
    </div>

    <div class="box col-md-3">
      <img
        src="../../../assets/Logos/Bootstrap.png"
        width="100px"
        height="auto"
        class="img-fluid mx-auto d-block"
      />
      <span class="num">80</span>
      <span class="num">%</span>
    </div>

    <div class="box col-md-3">
      <img
        src="../../../assets/Logos/Angular.png"
        width="100px"
        height="auto"
        class="img-fluid mx-auto d-block"
      />
      <span class="num">60</span>
      <span class="num">%</span>
    </div>
  </div>
</div>
