<div class="row">
  <h1>Hard skills</h1>
  <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
  <circle-progress
      [percent]="90"
      [radius]="100"
      [imageSrc]="'../../../assets/Logos/HTML.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [title]="'HTML'"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#f16529'"
      [innerStrokeColor]="'#fcb494'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../../assets/Logos/Bootstrap.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [title]="'Bootstrap'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#5e3b7f'"
        [innerStrokeColor]="'#bb317f'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
  </div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <circle-progress
          [percent]="90"
          [radius]="100"
          [imageSrc]="'../../../assets/Logos/Javascript.png'"
          [showImage]="true"
          [imageHeight]="100"
          [imageWidth]="100"
          [title]="'Javascript'"
          [showSubtitle]="false"
          [outerStrokeWidth]="12"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#d2bd4c'"
          [innerStrokeColor]="'#f3db4c'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
  </div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../../../assets/Logos/Angular.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [title]="'Angular'"
            [showSubtitle]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#b42c33'"
            [innerStrokeColor]="'#dc949c'"
            [animation]="true"
            [animationDuration]="1000"
          ></circle-progress>
  </div>
  </div>
  <br>
  <div class="row">
    <h1>Soft skills</h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../../assets/Logos/HTML.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [title]="'HTML'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#f16529'"
        [innerStrokeColor]="'#fcb494'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <circle-progress
          [percent]="90"
          [radius]="100"
          [imageSrc]="'../../../assets/Logos/Bootstrap.png'"
          [showImage]="true"
          [imageHeight]="100"
          [imageWidth]="100"
          [title]="'Bootstrap'"
          [showSubtitle]="false"
          [outerStrokeWidth]="12"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#5e3b7f'"
          [innerStrokeColor]="'#bb317f'"
          [animation]="true"
          [animationDuration]="1000"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../../../assets/Logos/Javascript.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [title]="'Javascript'"
            [showSubtitle]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#d2bd4c'"
            [innerStrokeColor]="'#f3db4c'"
            [animation]="true"
            [animationDuration]="1000"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <circle-progress
              [percent]="90"
              [radius]="100"
              [imageSrc]="'../../../assets/Logos/Angular.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [title]="'Angular'"
              [showSubtitle]="false"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="3"
              [outerStrokeColor]="'#b42c33'"
              [innerStrokeColor]="'#dc949c'"
              [animation]="true"
              [animationDuration]="1000"
            ></circle-progress>
          </div>
    </div>
