<div class="container">
  <div class="row" id="hardSkills">
    <h1>Hard skills</h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../../assets/Logos/HTML.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'HTML'"
        [showSubtitle]="true"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#f16529'"
        [innerStrokeColor]="'#fcb494'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../../../assets/Logos/Bootstrap.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'Bootstrap'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#5e3b7f'"
        [innerStrokeColor]="'#bb317f'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <circle-progress
        [percent]="70"
        [radius]="100"
        [imageSrc]="'../../../assets/Logos/Javascript.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'Javascript'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#d2bd4c'"
        [innerStrokeColor]="'#f3db4c'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../../../assets/Logos/Angular.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'Angular'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#b42c33'"
        [innerStrokeColor]="'#dc949c'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Logos/GitHub.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'GitHub'"
        [showSubtitle]="true"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#0e0d08'"
        [innerStrokeColor]="'#bbb7b6'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../../../assets/Logos/Photoshop.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'Photoshop'"
        [showSubtitle]="true"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#04365d'"
        [innerStrokeColor]="'#00aaff'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <circle-progress
        [percent]="60"
        [radius]="100"
        [imageSrc]="'../../../assets/Logos/Java.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'Java'"
        [showSubtitle]="true"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#5382a1'"
        [innerStrokeColor]="'#f8981d'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <circle-progress
        [percent]="60"
        [radius]="100"
        [imageSrc]="'../../../assets/Logos/PHP.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'PHP'"
        [showSubtitle]="true"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#007aff'"
        [innerStrokeColor]="'#e6f2ff'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
  </div>
  <br />
  <div class="row" id="softSkills">
    <h1>Soft skills</h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../../assets/Logos/HTML.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'HTML'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#f16529'"
        [innerStrokeColor]="'#fcb494'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../../assets/Logos/Bootstrap.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'Bootstrap'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#5e3b7f'"
        [innerStrokeColor]="'#bb317f'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../../assets/Logos/Javascript.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'Javascript'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#d2bd4c'"
        [innerStrokeColor]="'#f3db4c'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../../assets/Logos/Angular.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [title]="'Angular'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#b42c33'"
        [innerStrokeColor]="'#dc949c'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
  </div>
</div>
