.container{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #F2EEEB;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 3px rgb(102, 98, 98);
}
.row{
padding: 3px;
}

#logoAPchico{
  display: flex;
  align-items: center;
  justify-content: center;

}

#colStatus{
display:flex;
align-items: center;
justify-content: center;
}

#colLogin{
  display: flex;
  align-items: center;
  justify-content: center;
  }



#btnLogin{
box-shadow: 3px 3px 5px black;
}

h4{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#redes{
  display:flex ;
  align-items: center;
  justify-content: center;
  margin: 0;
}
