<div class="container">
  <div class="row fontArchivo">

  <div class="col-xs-12 col-sm-3" id="logoAPchico">
    <img src="../../../assets/Logos/APLogo-20-20-Negro.png" width="150px" height="auto" class="img-fluid mx-auto d-block">
  </div>

  <div class="col-xs-12 col-sm-4" id="colStatus">
    <h6>Estás navegando como invitado</h6>
  </div>

  <div class="col-xs-12 col-sm-2" id="colLogin">
    <button id="btnLogin" type="button" class="btn btn-primary" (click)="login()">Acceder</button>
  </div>

  <div class="col-xs-12 col-sm-3" id="redes">
    <app-redes></app-redes>
  </div>


</div>
</div>
