<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<div class="row">

<div class="col-sm-2 col-lg-3">
  <a href="https://es-es.facebook.com/rodolforuizh/" target="_blank"><img src="../../../assets/Logos/Facebook.png" class="mx-auto d-block" id="Facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook"></a>
</div>


<div class="col-sm-2 col-lg-3">
  <a href="https://www.instagram.com/rody_rh_/" target="_blank"><img src="../../../assets/Logos/Instagram.png" class="mx-auto d-block" id="Instagram" data-toggle="tooltip" data-placement="bottom" title="Instagram"></a>
</div>


<div class="col-sm-2 col-lg-3">
  <a href="https://github.com/RodolfoRH" target="_blank"><img src="../../../assets/Logos/GitHub.png" class="mx-auto d-block" id="GitHub" data-toggle="tooltip" data-placement="bottom" title="GitHub"></a>
</div>


<div class="col-sm-2 col-lg-3">
  <a href="https://ar.linkedin.com/in/rodolfo-ruiz-huidobro-ba8b5328" target="_blank"><img src="../../../assets/Logos/linkedIn.png" class="mx-auto d-block" id="LinkedIn" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"></a>
</div>


</div>
