<br>
<div class="container fontArchivo rounded">

  <div class="container">
    <div class="row">
      <div class="col-9">
        <h2><u>Mis experiencias laborales</u></h2>
      </div>
      <div class="col-3" id="divBtnAgregar">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
          Agregar experiencia
          </button>
      </div>
    </div>
<br>

<div class="table-responsive">
<table class="table fst-italic" >
  <thead>
    <tr>
      <th scope="col" style="width:25%">Compañía</th>
      <th scope="col" style="width:65%">Descripción del puesto</th>
      <th scope="col" style="width:5%" *ngIf="isLogged">Editar</th>
      <th scope="col" style="width:5%" *ngIf="isLogged">Borrar</th>
    </tr>
  </thead>
</table>

  <!--Aquí cargo las experiencias laborales -->
    <div class="col-12">
      <table class="table table-hover text-left">
        <col style="width:25%">
        <col style="width:65%">
        <col style="width:5%">
        <col style="width:5%">
      <tbody>
        <tr *ngFor="let Jobs of varExp">
          <td>{{Jobs.nombreExp}}</td>
          <td>{{Jobs.descripcionExp}}</td>
          <td *ngIf="isLogged"><button class="btn btn-outline-primary btn-sm" routerLink="jobs/{{Jobs.id}}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="bi bi-pencil"></i></button></td>
          <td *ngIf="isLogged"><button class="btn btn-outline-danger btn-sm" (click)="deleteJob(Jobs.id)" data-toggle="tooltip" data-placement="top" title="Borrar"><i class="bi bi-trash3"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>


