<div class="container fontArchivo">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/FotoPerfil.jpg" class="img-fluid mx-auto d-block" id="FOTO" />
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">Rodolfo Ruiz Huidobro</p>
      <p id="cargo">Full Stack Developer Jr.</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1>Sobre mí</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum vero
          quod architecto voluptatem. Nostrum dolores modi vero voluptatum vel
          nam, consectetur dicta praesentium illo sed fugit optio perferendis
          illum aliquam?
        </p>
      </span>
    </div>
  </div>
</div>
