.container{
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(207, 206, 211);
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 3px rgb(102, 98, 98);
}

#divBtnAgregar{
  display: flex;
  align-items: center;
  justify-content: right;
}

h2{
  font-weight: bold;
}
