<br>
<div class="container fontArchivo">
  <h1>Mis estudios cursados</h1>
<div class="col-lg-2">
  <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
  Agregar Estudios
  </button>
<br>
</div>

  <!--Creo una Table para cargar los estudios -->
    <div class="col-12">
      <table class="table table-hover text-left">
        <col style="width:25%">
        <col style="width:65%">
        <col style="width:5%">
        <col style="width:5%">
      <tbody>
        <tr *ngFor="let Education of educacion">
          <td>{{Education.nombreEdu}}</td>
          <td>{{Education.descripcionEdu}}</td>
          <td *ngIf="isLogged"><button class="btn btn-outline-primary btn-sm" routerLink="edu/{{Education.id}}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="bi bi-pencil" ></i></button></td>
          <td *ngIf="isLogged"><button class="btn btn-outline-danger btn-sm" (click)="deleteEdu(Education.id)" data-toggle="tooltip" data-placement="top" title="Borrar"><i class="bi bi-trash3"></i></button></td>
        </tr>
      <br>
      </tbody>
    </table>
  </div>
