<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css"
  rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"/>

</head>

<div class="container">
  <div class="row">
    <div>

      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <br>
        <h2>Datos del Estudio</h2>
        <br>
        <div class="form-group">
          <label for="nombreExp">Institución</label>
          <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="nombreEdu" required>
        </div>
                  <br>
        <div class="form-group">
          <label for="descripcionExp">Descripción de los estudios</label>
          <textarea class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="descripcionEdu" rows="3" required></textarea>
        </div>
        <br>
        <br>

        <div>
          <button type="button submit" class="btn btn-outline-primary">Guardar</button>
          <button type="button" class="btn btn-outline-secondary" onclick="reset">Limpiar</button>
          <button type="button" class="btn btn-outline-danger" onclick="window.location.href = '/';">Cancelar</button>
        </div>

      </form>

    </div>
  </div>
</div>
